

<div>
<table class="table table-bordered table-hover table-striped">
	<thead>
		<tr>
			<th><input type="checkbox"></th>
			<th>[[#{index}]]</th>
			<th data-bind="">[[#{cateName}]]</th>
			<th data-bind="">[[#{creator}]]</th>
			<th>[[#{createTime}]]</th>
			<th width="100px">[[#{operation}]]</th>
		</tr>
	</thead>
	<tbody data-bind="foreach: {data: data.content, as: 'sysUser'}">
		<tr>
		
			<td><input type="checkbox" name="fdIdArr" data-bind="value: fdId"></td>
			<td data-bind="text: $index()+1"></td>
			<td data-bind="text: fdName"></td>
			<td data-bind="text: creatorName"></td>
			<td data-bind="text: createTime"></td>
			<td width="100px"><div class="btn-group">
					<button type="button" class="btn btn-default btn-xs"
						data-bind="click: function(){$parent.editOne(sysUser)}">
						<span class="fa fa-pencil" aria-hidden="true"></span>[[#{edit}]]
					</button>
					<button type="button" class="btn btn-default btn-xs"
						data-bind="click: function(){$parent.deleteOne(sysUser)}">
						<span class="fa fa-trash" aria-hidden="true"></span>[[#{delete}]]
					</button>
				</div></td>
		</tr>
	</tbody>
	<tfoot data-bind="visible: !data.content().length > 0">
		<tr>
			<td colspan="10">[[#{nodata}]]</td>
		</tr>
	</tfoot>
</table>
<div
	data-bind='visible: data.content().length > 0,
				component: {name: "grid-pagination", params:{data: data, toPage: toPage}}'></div>
				</div>
