
<meta charset="UTF-8">
		<form data-bind="with: formItem">
			<div class="form-group col-xs-4">
				<label class="control-label col-xs-3" for="ds_host">[[#{cateName}]]</label>
				<div class="col-xs-9">
					<input class="form-control" id="ds_host" type="text"
						data-bind="textInput: fdName" />
				</div>
			</div>
			<div class="form-group col-xs-4">
				<label class="control-label col-xs-3" for="ds_username">创建人</label>
				<div class="col-xs-9">
					<input class="form-control" id="ds_username" type="text"
						data-bind="textInput: creatorName" />
				</div>
			</div>
			
			<div class="fti-xs-12 text-right">
				<button type="submit" class="btn btn-primary"
					data-bind="click: $parent.search">
					<i class="fa fa-search"></i>[[#{search}]]
				</button>
				<button class="btn btn-default" data-bind="click: $parent.reset">
					<i class="fa fa-eraser"></i>[[#{reset}]]
				</button>
			</div>
			
		</form>

