<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
</head>
<body>
	
	<div data-bind="component: {name: 'page-title'}">[[#{roleAssignAdmin}]]</div>
	
	<div data-bind="component:{name:'searchForm-panel',params:{data: searchForm}}">
		<div data-bind="template:{name:'roleManage_roleAssign_searchForm_html', data: searchForm}"></div>
	</div>

	<div data-bind="template:{name:'roleManage_roleAssign_gridToolbar_html'}"></div>
	
	<div data-bind="template:{name:'roleManage_roleAssign_datagrid_html', data: roleAssignId}"></div>
	
	<div data-bind="template:{name:'roleManage_roleAssign_editWindow_html', data: roleAssignForm}"></div>
	
	
	<div data-bind='component: {name: "groupMember", params:{data: elementForm, callFunc: selectNewElement, width: "200px", height: "280px"}}'></div>

	<div data-bind='component: {name: "inheritRole", params:{data: inheritRoleArr, callFunc: inheritRole}}'></div>
	
	<div data-bind='component: {name: "authorizeMenu", params:{data: menuList, callFunc: authorizeMenu}}'></div>
	
	<script type="text/javascript" th:src="@{/js/roleManage/roleAssign/main.js}"
			 src="/js/roleManage/roleAssign/main.js"></script>
</body>
</html>