<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		
		<script type="text/javascript" th:src="@{/webjars/bootstrap-datetimepicker/2.3.8/js/bootstrap-datetimepicker.js}"
			src="/webjars/bootstrap-datetimepicker/2.3.8/js/bootstrap-datetimepicker.js"></script>
		<link rel="stylesheet" th:href="@{/webjars/bootstrap-datetimepicker/2.3.8/css/bootstrap-datetimepicker.css}"
			href="/webjars/bootstrap-datetimepicker/2.3.8/css/bootstrap-datetimepicker.css">
		<script type="text/javascript" th:src="@{/webjars/bootstrap-datetimepicker/2.3.8/js/locales/bootstrap-datetimepicker.zh-CN.js}"
			src="/webjars/bootstrap-datetimepicker/2.3.8/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
	</head>

	<body>
		<div data-bind="component:{name:'page-title'}">流程授权管理</div>
	
		<div class="row" data-bind="if:visibleCatalog">
			<div data-bind="component:{name:'searchForm-panel',params:{data:searchForm}}">
				<div data-bind="template:{name:'sys_sysAuthManagement_searchForm_html',data:searchForm}"></div>
			</div>
			
			<div data-bind="template:{name:'sys_sysAuthManagement_gridToolbar_html'}"></div>
			<div id="datagrid_panel" data-bind="template:{name:'sys_sysAuthManagement_datagrid_html',data:grid}"></div>
		</div>
	
		<div id="datagrid_Form" data-bind="template:{name:'sys_sysAuthManagement_editWindow_html',data:authForm}"></div>
	
		<div data-bind='component:{name:"orgCommonTree",params:{callFunc:selectTypeFunc,width:"40%",height:"415px"}}'></div>
	
		<div data-bind='component:{name:"templateSelTree",params:{data:templateForm,callFunc:selectNewCate,width:"230px",height:"380px"}}'></div>
	
		<script th:src="@{/js/sys/sysAuthManagement/main.js}" src="/js/sys/sysAuthManagement/main.js"></script>
	</body>
</html>