<div class="col-xs-12 padding-top-sm btn-toolbar" role="toolbar">
	<div class="btn-group"> 
           <button id="btn_add" type="button" class="btn btn-default" data-bind="click: toAdd">
               <i class="fa fa-plus" aria-hidden="true"></i>[[#{add}]]
           </button> 
           <!--<button type="button" class="btn btn-default" data-bind="click: toEdit">
               <i class="glyphicon glyphicon-pencil" aria-hidden="true"></i>[[#{edit}]]
           </button>
            <button type="button" class="btn btn-default">
               <i class="glyphicon glyphicon-remove" aria-hidden="true"></i>[[#{delete}]]
           </button> -->
	</div>
</div>