<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
</head>
<body> 
	<div data-bind="component: {name: 'page-title'}">组织架构 </div>  
	
	<div class="row-fluid">
		<div>
			<div class="col-xs-3" data-bind="template:{name:'sys_orgElement_treeToolbar_html', data:orgTree }"></div>
			<div class="col-xs-9 padding-left-sm" data-bind="template:{name:'sys_orgElement_gridToolbar_html'}"></div>
		</div>
		
		<div class="panel panel-default col-xs-3" style="margin-bottom: 2px;">
    		<div class="panel-heading">组织架构</div>
		   	<div id="orgTree" class="ztree" style="background: #FFFFFF; width: 100%;height:480px;overflow-y:scroll;overflow-x:auto;"></div>
		</div>
		
		<div id="elementGrid" class="col-xs-9" data-bind="template:{name:'sys_orgElement_orgElementGrid_html', data: gridViewModel}"></div>
	</div>
	
    <div id="datagrid_Form" data-bind="template:{name:'sys_orgElement_editWindow_html', data: orgForm}"></div>
    
    <div data-bind='component: {name: "orgCommonTree", params:{callFunc: selectTypeFunc, width: "40%", height: "415px"}}'></div>
    
    <div data-bind='component: {name: "groupMember", params:{data: elementForm, callFunc: selectNewElement}}'></div>
<!--     
    <div data-bind='component: {name: "orgElementTree", params:{callFunc: selectNewOrg, width: "100%", height: "400px"}}'></div>
    
	<div data-bind='component: {name: "orgCommonTree", params:{callFunc: selectTypeFunc, width: "40%", height: "415px"}}'></div>
 	
 	<div data-bind='component: {name: "memberSelect", params:{data: elementForm, callFunc: selectNewElement, width: "200px", height: "280px"}}'></div> -->
	
	
    <div id="add_Form" data-bind="template:{name:'sys_orgElement_addWindow_html', data: addForm}"></div>
    
	<script th:src="@{/js/sys/orgElement/main.js}"
		 src="/js/sys/orgElement/main.js"></script> 
	
</body>
</html>