

<div class="toolbar-box">
<ul class="list-unstyled clearfix">
		<li>
			<a href="javascript:void(0);" data-bind="click:increaseChart" data-toggle="tooltip" title="放大画布">
				<img th:src="@{/images/flowchart/toolbar/icon15.png}" src="/images/flowchart/toolbar/icon15.png"/></a>
			<a href="javascript:void(0);" data-bind="click:reduceChart" data-toggle="tooltip" title="缩小画布">
				<img th:src="@{/images/flowchart/toolbar/icon16.png}" src="/images/flowchart/toolbar/icon16.png"/></a>
			<a href="javascript:void(0);" data-bind="click:zoomIn" data-toggle="tooltip" title="放大比例">
				<img th:src="@{/images/flowchart/toolbar/icon17.png}" src="/images/flowchart/toolbar/icon17.png"/></a>
			<a href="javascript:void(0);" data-bind="click:zoomOut" data-toggle="tooltip" title="缩小比例">
				<img th:src="@{/images/flowchart/toolbar/icon18.png}" src="/images/flowchart/toolbar/icon18.png"/></a>
			
			<a href="javascript:void(0);" data-bind="click:filterFlow" data-toggle="tooltip" title="过滤节点">
				<i class="fa fa-hourglass" aria-hidden="true"></i>
			</a>
			<a href="javascript:void(0);" data-bind="click:clearFlow" data-toggle="tooltip" title="清楚过滤">
				<i class="fa fa-trash" aria-hidden="true"></i>
			</a>
		</li>
	</ul>
</div>