<div class="col-xs-12 padding-top-sm">
	<table class="table table-bordered table-hover master-table">
		<thead>
			<tr> 
				<th>[[#{serialNumber}]]</th>
				<th hidden="true">ID</th> 
				<th>备选名</th>
				<th>适用节点</th>  
				<th>[[#{operation}]]</th>
			</tr>
		</thead> 
		<tbody data-bind="foreach: {data: data.content, as: 'sysWfVarInfo'}">
			<tr>
				<td data-bind="text:$index()+1"></td>
				<td hidden="true" data-bind="text:fdId"></td>  
				<td data-bind="text:varName"></td>
				<td data-bind="text:status"></td> 
                <td>
					<a href="#" data-bind="click: function(){$parent.editOne(sysWfVarInfo)}">[[#{edit}]]</a>
					<a href="#" data-bind="click: function(){$parent.deleteOne(sysWfVarInfo)}">[[#{delete}]]</a>
				</td>
			</tr>
		</tbody>
		<tfoot data-bind="visible: !data.content().length > 0">
			<tr>
				<td colspan="9">[[#{nodata}]]</td>
			</tr>
		</tfoot>
	</table>
	<div data-bind='visible: data.content().length > 0,
				component: {name: "grid-pagination", params:{data: data, toPage: toPage}}'></div>
</div>