<meta charset="utf-8">
<style>
.text-center{
	text-align: center;
}
</style>

<div class="col-xs-12" >
	<table class="table table-bordered">
		<thead>
			<tr>
				<th width="25%" class="text-center">[[#{roleLineMemberName}]]</th>
				<th width="10%" class="text-center">[[#{type}]]</th>
				<th width="8%" class="text-center">[[#{ifAvailable}]]</th>
				<th class="text-center">[[#{path}]]</th>
			</tr>
		</thead>
		<tbody data-bind="foreach: data.content">
			<tr>
				<td data-bind="text: fdName"></td>
				<td class="text-center">
					<!-- ko if: fdOrgType()=='1'  -->
					<span>机构</span>
					<!-- /ko -->
					<!-- ko if: fdOrgType()=='2'  -->
					<span>部门</span>
					<!-- /ko -->
					<!-- ko if: fdOrgType()=='4'  -->
					<span>岗位</span>
					<!-- /ko -->
					<!-- ko if: fdOrgType()=='8'  -->
					<span>人员</span>
					<!-- /ko -->
					<!-- ko if: fdOrgType()==''  -->
					<span>自定义角色</span>
					<!-- /ko -->
				</td>
				<td class="text-center">
					<!-- ko if: isAvailable()=='0'  -->
					<span>否</span>
					<!-- /ko -->
					<!-- ko if: isAvailable()=='1'  -->
					<span>是</span>
					<!-- /ko -->
				</td>
				<td data-bind="text: pathName"></td>
			</tr>
		</tbody>
		<tfoot data-bind="visible: !data.content().length > 0">
			<tr>
				<td colspan="4">[[#{nodata}]]</td>
			</tr>
		</tfoot>
	</table>
	<div
		data-bind='visible: data.content().length > 0,
			component: {name: "grid-pagination", params:{data: data, toPage: toPage}}'></div>

</div>