<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">   
</head>

<body>
	<div data-bind="component: {name: 'page-title'}">[[#{genPostionManagement}]]</div> 
	 
	<div class="row" data-bind="if: visibleCatalog"> 
		<div data-bind="component:{name:'searchForm-panel',params:{data: searchForm}}">
			<div data-bind="template:{name:'sys_generalPositionManagemet_searchForm_html', data: searchForm}"></div>
		</div>
		<div data-bind="template:{name:'sys_generalPositionManagemet_gridToolbar_html'}"></div>
		<div id="datagrid_panel" data-bind="template:{name:'sys_generalPositionManagemet_datagrid_html',data: grid}"></div>
	</div> 
	
    <div id="datagrid_Form" data-bind="template:{name:'sys_generalPositionManagemet_editWindow_html', data: postionForm}"></div>
	     
	<script th:src="@{/js/sys/generalPositionManagemet/main.js}"
		 src="/js/sys/generalPositionManagemet/main.js"></script> 

</body>
</html>