<meta charset="utf-8">
<form data-bind="with:formItem">
	<div class="form-group col-xs-6">
		<label class="control-label col-xs-2" for="title">主题</label>
		<div class="col-xs-6">
			<input class="form-control" type="text" data-bind="textInput:docSubject" />
		</div>
	</div>
	<div class="form-group col-xs-6">
		<label class="control-label col-xs-3" for="boeCode">单据编号</label>
		<div class="col-xs-6">
			<input class="form-control" type="text" data-bind="textInput:applyCode" />
		</div>
	</div>

	<div class="form-group col-xs-6">
		<label class="control-label col-xs-2" for="noName">当前节点</label>
		<div class="col-xs-6">
			<input class="form-control" type="text" data-bind="textInput:nodeNames" />
		</div>
	</div>
	<div class="form-group col-xs-6">
		<label class="control-label col-xs-3" for="dealName">当前处理人</label>
		<div class="col-xs-6">
			<input class="form-control" type="text" data-bind="textInput:dealName" />
		</div>
	</div>

	<div class="fti-xs-12 text-right">
		<button type="submit" class="btn btn-primary" data-bind="click:$parent.search">
			<i class="fa fa-search"></i>[[#{search}]]
		</button>
		<button class="btn btn-default" data-bind="click:$parent.reset">
			<i class="fa fa-eraser"></i>[[#{reset}]]
		</button>
	</div>
</form>