<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
 <meta charset="utf-8">   
</head>
<body> 
	<div data-bind="component: {name: 'page-title'}">[[#{defLanguageMangement}]] </div>
	 
    <div class="row" data-bind="if: visibleCatalog">
    	<div data-bind="component:{name:'searchForm-panel',params:{data: searchForm}}">
			<div data-bind="template:{name:'sys_defLanguageMangement_searchForm_html', data:searchForm}"></div>
		</div>
		<div data-bind="template:{name:'sys_defLanguageMangement_gridToolbar_html'}"></div>
		<div id="datagrid_panel" data-bind="template:{name:'sys_defLanguageMangement_datagrid_html',data: grid}"></div>
	</div> 
		
    <div id="datagrid_Form" data-bind="template:{name:'sys_defLanguageMangement_editWindow_html', data: defLanguageForm}"></div>
  
    <script type="text/javascript" th:src="@{/js/sys/defLanguageMangement/main.js}"
    	 src="/js/sys/defLanguageMangement/main.js"></script>      
</body>
</html>