<div class="modal" id="addWindow" tabindex="-1" role="dialog" data-backdrop="static"
	aria-labelledby="myModalLabel">
	<div class="modal-dialog modal-md">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">新增节点</h4>
			</div>
			<div class="modal-body">
				<form class="clearfix" data-bind="with: formItem">
					<div class="col-xs-12 form-group">
						<label class="col-xs-2 control-label">审批类型</label>
						<div class="col-xs-6">
							<input type="text" class="form-control" placeholder="Id"
								data-bind="textInput: fdId">
						</div>
					</div>
					<div class="col-xs-12 form-group">
						<label class="col-xs-2 control-label">是否有效 </label>
						<div class="col-xs-6">
							<input type="text" class="form-control" placeholder="loginName"
								data-bind="textInput: fdName">
						</div>
					</div>
					 <div class="col-xs-12 text-center">
						<button class="btn btn-primary"  data-bind="click: $parent.simulateSaveForm" data-dismiss="modal"><i class="fa fa-check" aria-hidden="true"></i>[[#{save}]]</button>
						<button class="btn btn-default" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i>[[#{close}]]</button>
					</div>
				</form>
			</div>		
		</div>
	</div>
</div>