<meta charset="utf-8" />   
<style>
  td {
    text-align: center
  }
</style> 
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static"> 
	<form class="form-horizontal" role="form" data-bind="with: formItem">
		<div class="modal-dialog" role="document">
	        <div class="modal-content">
	         	 <div class="modal-header">
	                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	                <h4 class="modal-title" id="myModalLabel">
	                	 <!-- ko if: fdOrgType == 1 -->
	                	 机构维护
	                	 <!-- /ko -->
	                	  <!-- ko if: fdOrgType == 2 -->
	                	 部门维护
	                	 <!-- /ko -->
	                	  <!-- ko if: fdOrgType == 4 -->
	                	 岗位维护
	                	 <!-- /ko -->
	                	  <!-- ko if: fdOrgType == 8 -->
	                	 人员维护
	                	 <!-- /ko -->
	                </h4>
	            </div>
                <div class="modal-body">
                   <!-- ko if: fdOrgType == 1 -->
                		<div data-bind="template:{name:'sys_orgElement_editOrgForm_html'}"></div>  
		           <!-- /ko -->
		           <!-- ko if: fdOrgType == 2 -->
	          	        <div data-bind="template:{name:'sys_orgElement_editDeptForm_html'}"></div>  
	               <!-- /ko -->
	           	   <!-- ko if: fdOrgType == 4 -->
	                    <div data-bind="template:{name:'sys_orgElement_editPositionForm_html'}"></div>  
	               <!-- /ko -->
	               <!-- ko if: fdOrgType == 8 -->
	                     <div data-bind="template:{name:'sys_orgElement_editPersonForm_html'}"></div>  
	               <!-- /ko -->
	            </div>
	            <div class="modal-footer">
	                <button type="submit" id="btn_submit" data-bind="click: $parent.saveOrUpdateList" class="btn btn-primary"><i class="fa fa-check" aria-hidden="true"></i>[[#{save}]]</button>
	                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i>[[#{close}]]</button>
	           </div> 
	        </div>
		</div>
	</form>
</div>