<input type="hidden" data-bind="textInput: fdId" class="form-control">   
<input type="hidden" data-bind="textInput: fdOrgType" class="form-control" value="8">      
<table id="tbUser" class="table table-striped table-bordered table-hover"> 
   <tbody>
       <tr>
         <td> 
             <label>所属上级</label>  
         </td>
         <td colspan="5"> 
             <input type="hidden" data-bind="textInput: fdParentid" class="form-control">   
	         <input type="text" data-bind="textInput: fdDeptName" class="form-control" readonly="readonly"/>
             <!-- <span data-bind="text: $root.description"></span> --> 
         </td>
       </tr> 
       
        <tr>
          <td> 
            <label for="fdName">姓名</label><span style="color: red">*</span>  
          </td>
          <td>
             <input type="text" data-bind="textInput: fdName" class="form-control"> 
          </td>
          <td>
              <label for="fdLoginName">登录名</label><span style="color: red">*</span>
          </td>
          <td>
               <input type="text" data-bind="textInput: fdLoginName" class="form-control"> 
          </td> 
        </tr>
       <!--  <tr> 
           <td>
                <label for="fdParentid">所在部门</label>  
            </td>
            <td> 
                 <input type="hidden" data-bind="textInput: fdParentid" class="form-control"> 
                 <input type="text" data-bind="textInput: fdDeptName" class="form-inline"> 
                 <button type="button" style="margin-left:-5px;margin-top:-2px;" class="btn btn-default" 
                        data-bind="click: function(){this.selectType='fdParent'; $('#treeSelectPerWindow').modal();}">
		                <i class="fa fa-search" aria-hidden="true"></i>
    	         </button>  
          </td>   
       </tr>  -->
        <tr> 
           <td>
              <label for="fdMobileNo">手机号码</label>  
          </td>
          <td>
               <input type="text" data-bind="textInput: fdMobileNo" class="form-control"> 
          </td> 
           <td>
              <label for="fdWorkPhone">办公电话</label>  
          </td>
          <td>
               <input type="text" data-bind="textInput: fdWorkPhone" class="form-control"> 
          </td>
       </tr> 
        <tr> 
           <td>
              <label for="fdDefaultLang">默认语言</label>  
          </td>
          <td>
               <input type="text" data-bind="textInput: fdDefaultLang" class="form-control"> 
          </td>
          <td>
              <label for="fdEmail">邮件地址</label>  
          </td>
          <td>
               <input type="text" data-bind="textInput: fdEmail" class="form-control"> 
          </td>
       </tr> 
       <tr>
          <td>
              <label for="fdKeyword">关键字</label>  
          </td>
          <td>
               <input type="text" data-bind="textInput: fdKeyword" class="form-control"> 
          </td>
          <td>  
             <label for="fdOrder">排序号</label>  
           </td>
          <td>
            <input type="text" data-bind="textInput: fdOrder" class="form-control"> 
          </td> 
       </tr>
        <tr>
          <td>
              <label for="fdIsBusiness">是否业务相关</label>  
          </td>
          <td colspan="3">
             <input type="radio" name="fdIsBusiness" value="1" data-bind="checked: fdIsBusiness"/> [[#{yes}]] 
             <input type="radio" name="fdIsBusiness" value="0" data-bind="checked: fdIsBusiness" style="margin-left: 15px"/>[[#{no}]]   
          </td>
          
         <!--  <td>
              <label for="fdPostId">所属岗位</label>  
          </td> 
          <td>
               <input type="text" data-bind="textInput: fdPostId" class="form-control"> 
          </td> -->
       </tr>
       <tr>
       	<td>
       		<label for="fdPostId">所属岗位</label>  
       	</td>
       	<td colspan="3">
       		<div class="col-xs-8">
       		<input type="hidden" data-bind="value: fdPostIds">
            <input type="text" data-bind="textInput: fdPostNames" class="form-control" readonly="readonly"> 
            </div>
            <div class="col-xs-4">
            <button  type="button" class="btn btn-default"
				data-bind="click: $parents[1].selectPostList">
				<i class="fa fa-hand-rock-o" aria-hidden="true"></i>选择
			</button>
			</div>
          </td>  
       </tr>
       <tr> 
          <td>  
             <label for="fdIsAvailable">是否有效</label>  
           </td>
          <td colspan="5">
            <input type="radio" name="fdIsAvailable" value="1" data-bind="checked: fdIsAvailable"/> [[#{yes}]] 
            <input type="radio" name="fdIsAvailable" value="0" data-bind="checked: fdIsAvailable" style="margin-left: 15px"/>[[#{no}]]  
          </td> 
      </tr>
       <tr>
        <td> 
           <label for="fdMemo">备注</label>  
        </td>
        <td colspan="5">
           <input type="text" data-bind="textInput: fdMemo" class="form-control"> 
        </td>
      </tr>
   </tbody>
</table>   