<div>
	<form class="form-horizontal" role="form" data-bind="with: formItem">
		<div class="form-group">
			<div class="col-sm-3">
				<input type="text" class="form-control" placeholder="Id"
					data-bind="textInput:fdId">
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-3">
				<input type="text" class="form-control" placeholder="loginName"
					data-bind="textInput:fdLoginName">
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-3">
				<input type="text" class="form-control"
					th:attr="placeholder=#{password}" data-bind="textInput:fdPassword">
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-3">
				<button type="submit" class="btn btn-default" data-bind="click: $parent.saveOrUpdate">
					<i class="glyphicon glyphicon-plus-sign"> </i> Add Product
				</button>
			</div>
		</div>
	</form>
</div>