<div class="col-xs-12 padding-top-sm">
	<table class="table table-bordered table-hover table-striped">
		<thead>
			<tr> 
				<th>[[#{serialNumber}]]</th>
				<th hidden="true">ID</th>
				<th>[[#{taskName}]]</th>
				<th>[[#{triggerTime}]]</th>
				<th>[[#{nextRunTime}]]</th>
				<th>[[#{relationHref}]]</th> 
				<th>[[#{runType}]]</th> 
				<th>[[#{isUse}]]</th> 
				<th>[[#{operation}]]</th>
			</tr>
		</thead> 
		<tbody data-bind="foreach: {data: data.content, as: 'quartzJob'}">
		<tr>
				<td data-bind="text:$index()+1"></td>
				<td hidden="true" data-bind="text:fdId"></td> 
				<td  data-bind="text:fdSubject"></td> 
				<td  data-bind="text:$root.changeCronTrigger(fdCronExpression)"></td> 
				<td  data-bind="text:fdRunTime"></td> 
				<td  data-bind="text:fdLink"></td> 
				<!-- ko if: fdRunType()==2 -->
				<td>[[#{pointNode}]]</td>
				<!-- /ko -->
				<!-- ko if: fdRunType()==4 -->
				 <td>[[#{singleNode}]]
				 </td>
				<!-- /ko -->
				 
				<!-- ko if: fdEnabled()==true -->
				<td>[[#{enable}]]</td>
				<!-- /ko -->
				<!-- ko if: fdEnabled()==false -->
				 <td>[[#{disable}]]
				 </td>
				<!-- /ko --> 
				 
				 
				<!-- <td  data-bind="text:fdEnabled"></td>  -->
				<td> 
					<div class="btn-group"> 
						<button type="button" class="btn btn-default" data-bind="click: function(){$parent.editOne(quartzJob);$root.initQuartzJobTime()}">
							<i class="fa fa-pencil"></i>[[#{edit}]]
						</button>
						<button type="button" class="btn btn-default" data-bind="click:$root.toUse.bind($data,true)">
							<i class="fa fa-check" aria-hidden="true"></i>[[#{enable}]]
						</button>
						<button type="button" class="btn btn-default" data-bind="click:$root.toUse.bind($data,false)">
							<i class="fa fa-close" aria-hidden="true"></i>[[#{disable}]]
						</button>
						<button type="button" class="btn btn-default" data-bind="click:$root.execute.bind($data,quartzJob)">
							<i class="fa fa-cog" aria-hidden="true"></i>[[#{execute}]]
						</button>
					</div>
				</td>
				
		</tr>
		</tbody>
		<tfoot data-bind="visible: !data.content().length > 0">
			<tr>
				<td colspan="9">[[#{nodata}]]</td>
			</tr>
		</tfoot>
	</table>
	<div data-bind='visible: data.content().length > 0,
				component: {name: "grid-pagination", params:{data: data, toPage: toPage}}'></div>
</div>