<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">

</head>
<body>

	<div data-bind="component: {name: 'page-title'}">[[#{orgPersonTitle}]]</div>

	<div data-bind="if: visibleCatalog">
		<div data-bind="component:{name:'searchForm-panel',params:{data: searchForm}}">
			<div data-bind="template:{name:'sys_orgPerson_searchForm_html', data: searchForm}"></div>
		</div>
		<div data-bind="template:{name:'sys_orgPerson_gridToolbar_html'}"></div>
		<div id="orgPesonGrid"
			data-bind="template:{name:'sys_orgPerson_datagrid_html', data:orgPersongrid}"></div>
	</div>

	<div id="orgPesonForm" class="col-xs-12" data-bind="template:{name:'sys_orgPerson_editForm_html', data:orgPersonForm}"></div>

	<script type="text/javascript" th:src="@{/js/sys/orgPerson/main.js}"
		 src="/js/sys/orgPerson/main.js"></script>
</body>
</html>