<meta charset="utf-8" />   
<style>
 .class_input{
              border: 1px solid #ccc;border-radius: 4px;height: 25px;
             }
 .left_td{
     background: #f5f5f5;
     text-align: left;
     width:15%
 }     
 a{
   color:blue
 }
</style>
<div> 
	<form class="form-horizontal" role="form" data-bind="visible:$parent.editFlag"> 
	   <table id="tbUser" class="table table-bordered table-hover"> 
	       <tbody> 
	          <tr>
                   <td class="left_td">
                       <label>前置逻辑</label>  
                   </td>
                   <td colspan="2"> 
                       <a href="#" data-bind="click:function(){$('#robotNodeModel').modal(); $('#before').click();}">设置</a>
                       <span hidden="hidden" id="before" data-bind="click: $parent.computeRobot.bind($data,'before');"></span> 
    	        		<a href="#" data-bind="click: removeRobot.bind($data,'before');">移除</a>
                      <!--  <a href="#">查看</a>
                       <a href="#">编辑</a>
                        -->
                   </td> 
              </tr>   
              <tr>
                   <td class="left_td">
                       <label>后置逻辑</label>  
                   </td>
                   <td colspan="2"> 
                     <a href="#" data-bind="click:function(){$('#robotNodeModel').modal(); $('#after').click();}">设置</a>
                       <span hidden="hidden" id="after" data-bind="click: $parent.computeRobot.bind($data,'after');"></span> 
    	        		<a href="#" data-bind="click: removeRobot.bind($data,'after');">移除</a>
                   </td> 
              </tr>   
	       </tbody>
	   </table>    
	</form>
	
	
	<!-- ko if: !$parent.editFlag  -->
	<form class="form-horizontal" role="form" data-bind="visible:!$parent.editFlag"> 
	   <table id="tbUser" class="table table-bordered table-hover"> 
	       <tbody> 
	          <tr>
                   <td class="left_td">
                       <label>前置逻辑</label>  
                   </td>
                   <td colspan="2"> 
                       <a href="#" data-bind="click:function(){$('#robotNodeModel').modal(); $('#beforeView').click();}">查看</a>
                       <span hidden="hidden" id="beforeView" data-bind="click: $parent.computeRobot.bind($data,'before');"></span> 
                      <!--  <a href="#">查看</a>
                       <a href="#">编辑</a>
                        -->
                   </td> 
              </tr>   
              <tr>
                   <td class="left_td">
                       <label>后置逻辑</label>  
                   </td>
                   <td colspan="2"> 
                       <a href="#"  data-bind="click:function(){$('#robotNodeModel').modal(); $('#afterView').click();}">查看</a>
                       <span hidden="hidden" id="afterView" data-bind="click: $parent.computeRobot.bind($data,'after')"></span> 
                     <!--   <a href="#">查看</a>  -->
                   </td> 
              </tr>   
	       </tbody>
	   </table>    
	</form>
	 <!-- /ko -->
</div>