<meta charset="utf-8" />   
<style>
	 .class_input{
	     border: 1px solid #ccc;border-radius:4px;height:25px;
	 }
	 .left_td{
	     background:#f5f5f5;
	     text-align:left;
	     width:15%
	 }   
</style>
<div> 
	<form class="form-horizontal" role="form"> 
	   <table id="tbUser" class="table table-bordered table-hover"> 
	       <tbody> 
	          <tr>
                   <td class="left_td">
                       <label>节点名<span style="color:red">*</span></label>  
                   </td>
                   <td>
                       <input type="text" class="class_input" data-bind="textInput:name" style="width:250px;">   
                       <select class="class_input" style="width:150px;"></select>  
                   </td> 
              </tr>  
              <tr>
                   <td class="left_td">
                       <label>默认处理人</label>  
                   </td>
                   <td>
                       <input type="radio" name="wf_handlerSelectType" data-bind="checked: handlerSelectType" value="org"/>从组织架构选择  &nbsp;&nbsp;
	                   <input type="radio" name="wf_handlerSelectType" data-bind="checked: handlerSelectType" value="formula"/>使用公式定义器 <br> 
	                   <input type="hidden" data-bind="textInput:handlerIds" style="margin-top:5px;margin-bottom:5px;">   
					   <input type="text" class="class_input" data-bind="textInput: handlerNames" style="margin-top:5px;margin-bottom:5px;">   
                       <button type="button" class="btn btn-default">
							<i class="fa fa-hand-rock-o" aria-hidden="true"></i>选择
					   </button>
					   <br>
                   
                       <input type="checkbox" value="true" name="ignoreOnHandlerEmpty" data-bind="checked:ignoreOnHandlerEmpty" />
					   <span>处理人为空时自动跳过</span>
                   </td> 
              </tr> 
              <tr>
                   <td class="left_td">
                       <label>流转方式</label>  
                   </td>
                   <td>
                       <input type="radio" value="0" name="processType" data-bind="checked:processType"/> 串行  &nbsp;&nbsp;
	                   <input type="radio" value="1" name="processType" data-bind="checked:processType"/> 并行  &nbsp;&nbsp;
	                   <input type="radio" value="2" name="processType" data-bind="checked:processType"/> 会审  &nbsp;&nbsp; 
	                   <input type="radio" value="1" name="passType" data-bind="checked:passType"/> 全部  &nbsp;&nbsp;
	                   <input type="radio" value="2" name="passType" data-bind="checked:passType"/> 按比例
	                   <input type="text" class="class_input" style="width:50px"><span>%</span> <br>
	                    
	                   <input type="checkbox" name="ignoreOnSerialHandlerSame" value="true" data-bind="checked:ignoreOnSerialHandlerSame"/>
					   <span>身份重复不跳过</span>
                   </td> 
               </tr>   
               <tr>
                   <td class="left_td">
                       <label>预警设置</label>  
                   </td>
                   <td>
                       <span>节点时长不超过</span><input type="text" class="class_input" name="nodeDelay" data-bind="textInput: nodeDelay"  style="width: 50px;"><span>小时</span>    
                   </td> 
               </tr>  
               <tr>
                   <td class="left_td">
                       <label>业务标识</label>  
                   </td>
                   <td>
                      <select class="class_input" style="width: 150px;" name="wf_bizInfoType" data-bind="value: bizInfoType" > 
				            <option value="1">业务审批</option>
				            <option value="0">财务初审</option>
				            <option value="2">财务复审</option>
				            <option value="3">出纳审批</option> 
				      </select>   
                   </td> 
               </tr>  
                <tr>
                   <td class="left_td">
                       <label>节点帮助</label>  
                   </td>
                   <td> 
                       <textarea style="height:100px;width:400px;" name="wf_description"></textarea>
                   </td> 
               </tr>  
	       </tbody>
	   </table>    
	</form>
</div>