

<table class="table table-bordered">
	<tbody>
		<tr>
			<th class="col-xs-2">姓名</th>
			<td class="col-xs-4" data-bind="text: $parent.personName"></td>
			<th class="col-xs-2">所属岗位</th>
			<td class="col-xs-4" data-bind="text: $parent.postsName"></td>
		</tr>
	</tbody>
</table>

<h3 style="text-align: center;">员工权限查看</h3>
<table class="table table-bordered table-striped" >
	<thead>
		<tr>
			<th width="10%">序号</th>
			<th width="20%">所属角色</th>
			<th width="70%">菜单</th>
		</tr>
	</thead>
	<tbody data-bind="foreach:{data:data.content,as:'sysUser'}">
		<tr>
			<td data-bind="text:$index()+1"></td>
			<td><span data-bind="text: roleName"></span></td>
			<td><span data-bind="html: menuAuthName"></span></td>
		</tr>
	</tbody>
	<tfoot data-bind="visible:!data.content().length > 0">
		<tr>
			<td colspan="11">[[#{nodata}]]</td>
		</tr>
	</tfoot>
</table>

<div  data-bind='visible:data.content().length>0,component:{name:"grid-pagination",params:{data:data,toPage:toPage}}'></div>
<!-- ko if: data.content().length>0-->
<br>
<!-- /ko -->

