<meta charset="UTF-8">


<div class="col-xs-12">



<table class="table table-bordered table-hover table-striped" style="table-layout:fixed;">
	<thead>
		<tr>
			<th class="col-xs-1"></th>
			<th class="col-xs-2">姓名</th>
			<th class="col-xs-2">账号</th>
			<th class="col-xs-2">创建时间</th>
			<th class="col-xs-2">描述</th>
			<th class="col-xs-1">操作</th>
		</tr>
	</thead>
	<tbody data-bind="foreach:{data:data.content,as:'sysUser'}">
		<tr>
			<td data-bind="text:$index()+1"></td>
			<td><span data-bind="text:fdName"></span></td>
			<td><span data-bind="text:fdNo"></span></td>
			<td><span data-bind="text:fdCreateTime"></span></td>
			<td><span data-bind="text:fdMemo"></span></td>
			<td>
			<button type="button" class="btn btn-default btn-xs" data-bind="click: function(){$parent.editOne(sysUser);}">
				<i class="fa fa-search" aria-hidden="true"></i>查看权限
			</button>
			</td>
		</tr>
	</tbody>
	<tfoot data-bind="visible:!data.content().length > 0">
		<tr>
			<td colspan="11">[[#{nodata}]]</td>
		</tr>
	</tfoot>
</table>
</div>

<div data-bind='visible:data.content().length>0,component:{name:"grid-pagination",params:{data:data,toPage:toPage}}'></div>