
<meta charset="UTF-8">
		<form data-bind="with: formItem">
			<div class="form-group col-xs-4">
				<label class="control-label col-xs-3" for="ds_username">用户姓名</label>
				<div class="col-xs-9">
					<input class="form-control" data-bind="textInput: fdName">
				</div>
			</div>
			<div class="form-group col-xs-4">
				<label class="control-label col-xs-3" for="ds_username">用户账号</label>
				<div class="col-xs-9">
					<input class="form-control" data-bind="textInput: fdNo">
				</div>
			</div>
			<div class="fti-xs-12 text-right">
				<button type="submit" class="btn btn-primary"
					data-bind="click: $parent.search">
					<i class="fa fa-search"></i>[[#{search}]]
				</button>
				<button class="btn btn-default" data-bind="click: $parent.reset">
					<i class="fa fa-eraser"></i>[[#{reset}]]
				</button>
			</div>
		</form>

