<div class="col-xs-12 padding-top-sm">
	<table class="table table-bordered table-hover table-striped">
		<thead>
			<tr> 
				<th>[[#{serialNumber}]]</th>
				<th hidden="true">ID</th>
				<th>[[#{approvalType}]]</th>
				<th>[[#{approvalLanguage}]]</th>
				<th>[[#{whetherDefault}]]</th>
				<th>[[#{whetherEffective}]]</th>
				<th>[[#{operation}]]</th>
			</tr>
		</thead>  
		<tbody data-bind="foreach: {data: data.content, as: 'sysWfUsage'}">
			<tr>
				<td data-bind="text:$index()+1"></td>
				<td hidden="true" data-bind="text:fdId"></td>  
				<td>
					<!-- ko if: fdUsageType()==1 -->
					[[#{reject}]]
					<!-- /ko -->
					<!-- ko if: fdUsageType()==2 -->
					[[#{turnToDo}]]
					<!-- /ko -->
					<!-- ko if: fdUsageType()==3 -->
					[[#{pass}]]
					<!-- /ko -->  
					<!-- ko if: fdUsageType()==4 -->
					[[#{communicate}]]
					<!-- /ko -->  
					<!-- ko if: fdUsageType()==5 -->
					[[#{abandon}]]
					<!-- /ko -->  
				</td>
				<td data-bind="text:fdUsageContent"></td>  
				<td>
					<!-- ko if: fdIsSysSetup()==1 -->
					[[#{yes}]]
					<!-- /ko -->
					<!-- ko if: fdIsSysSetup()==0 -->
					[[#{no}]] 
					<!-- /ko -->
				</td>
				<td>
					<!-- ko if: fdActiveFlag()==1 -->
					[[#{yes}]] 
					<!-- /ko -->
					<!-- ko if: fdActiveFlag()==0 -->
					 [[#{no}]]
					<!-- /ko -->
                </td> 
                
                <td> 
					<div class="btn-group"> 
						<button type="button" class="btn btn-default" data-bind="click: function(){$parent.editOne(sysWfUsage)}">
							<i class="fa fa-pencil"></i>[[#{edit}]]
						</button>
						<button type="button" class="btn btn-default" data-bind="click: function(){$parent.deleteById(sysWfUsage)}">
							<i class="fa fa-trash-o"></i>[[#{delete}]]
						</button>
					</div>
				</td>
			</tr>
		</tbody>
		<tfoot data-bind="visible: !data.content().length > 0">
			<tr>
				<td colspan="6">[[#{nodata}]]</td>
			</tr>
		</tfoot>
	</table>
	<div data-bind='visible: data.content().length > 0,
				component: {name: "grid-pagination", params:{data: data, toPage: toPage}}'></div>
</div>