<meta charset="UTF-8">


<!-- 模态框（Modal）Start -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" data-backdrop="static"
	aria-labelledby="myModalLabel" aria-hidden="true" align="center">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myModalLabel">[[#{add}]]/[[#{edit}]]</h4>
			</div>
			<div class="modal-body">
				<form class="form-horizontal" role="form" data-bind="with:formItem">
					<table class="table table-bordered table-hover ">
						<tr>
							<th class="col-xs-2">群组类别</th>
							<td class="col-xs-4">
							<div class="col-xs-7">
							<input class="form-control" id="groupName"></div>
								<div class="col-xs-5 text-right">
								<button  type="button" class="btn btn-default"
									data-bind="click: function(){$('#groupSelectWindow').modal();}">
									<i class="fa fa-hand-rock-o" aria-hidden="true"></i>选择
								</button></div>
							</td>
							<th class="col-xs-2">群组名称<span style="color: red">*</span></th>
							<td class="col-xs-4"><input  type="text" class="form-control"
								data-bind="textInput: fdName"></td>
						</tr>
						<tr>
							<th class="col-xs-2">群组成员</th>
							<td colspan="3">
							<div class="col-xs-10"><input type="text" class="form-control"
								id="member"></div>
								<div class="col-xs-2 text-right">
								<button  type="button" class="btn btn-default"
									data-bind="click: function(){$('#memberSelectWindow').modal();}">
									<i class="fa fa-hand-rock-o" aria-hidden="true"></i>选择
								</button></div>
							</td>
						</tr>
						<tr>
							<th>是否有效</th>
							<td><input type="radio" value="1" name="fdIsAvailable"
								data-bind="checked: fdIsAvailable" />是 <input type="radio"
								value="0" name="fdIsAvailable"
								data-bind="checked: fdIsAvailable" />否</td>
							<th>备注</th>
							<td><input type="text" class="form-control" data-bind="textInput: fdMemo"></td>
						</tr>
					</table>
					<div class="modal-footer">
						<button type="submit" class="btn btn-primary"
							data-bind="click: $parent.saveOrUpdateList">
							<span aria-hidden="true">[[#{save}]]</span>
						</button>
						<button type="button" class="btn btn-default" data-dismiss="modal">[[#{close}]]</button>
					</div>
				</form>
			</div>


		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal -->
</div>
<!-- 模态框（Modal）End -->













