<meta charset="UTF-8">

<div >
	<table class="table table-bordered table-hover table-striped">
		<thead>
			<tr>
				<th>[[#{index}]]</th>
				<th>工作日历名称</th>
				<th>日历年份</th>
				<th>创建人</th>
				<th>创建时间</th>
				<th>是否启用</th>
				<th class="col-xs-3">[[#{operation}]]</th>
			</tr>
		</thead>
		<tbody data-bind="foreach: {data: data.content, as: 'calendar'}">
			<tr>
				<td data-bind="text:$index()+1"></td>
				<td data-bind="text: fdName"></td>
				<td data-bind="text: fdYear"></td>
				<td data-bind="text: fdCreatorName"></td>
				<td data-bind="text: fdCreatedDate"></td>
				<td data-bind="text: (fdEnabled()==1)?'是':'否'"></td>
				<td width="340px"><div class="btn-group">
						<button type="button" class="btn btn-default btn-xs"
							data-bind="click: function(){$parent.editOne(calendar)}">
							<i class="fa fa-pencil" aria-hidden="true"></i>[[#{edit}]]
						</button>
						<button type="button" class="btn btn-default" data-bind="click: function(){$parent.deleteById(calendar)}">
							<i class="fa fa-trash-o"></i>[[#{delete}]]
						</button>
					</div>
				</td>
			</tr>
		</tbody>
		<tfoot data-bind="visible: !data.content().length > 0">
			<tr>
				<td colspan="10">[[#{nodata}]]</td>
			</tr>
		</tfoot>
	</table>
	<div
		data-bind='visible: data.content().length > 0,
				component: {name: "grid-pagination", params:{data: data, toPage: toPage}}'></div>
</div>
