
<meta charset="UTF-8">
<div class="col-xs-12 padding-top-sm btn-toolbar" role="toolbar" >
	<div class="btn-group">
		<button id="btn_add" type="button" class="btn btn-default"
			data-bind="click: function(){toAdd()}">
			<i class="fa fa-plus" aria-hidden="true"></i>[[#{add}]]
		</button>
		<!-- <button type="button" class="btn btn-default" data-bind="click:function(){toUse('1')}">
			<i class="fa fa-check" aria-hidden="true"></i>[[#{enable}]]
		</button>
		<button type="button" class="btn btn-default" data-bind="click:function(){toUse('0')}">
			<i class="fa fa-close" aria-hidden="true"></i>[[#{disable}]]
		</button> -->
	</div>
</div>